.content-wraper{
    margin-top:300px;
    margin-left: 1rem;
    cursor: pointer;
    transition: all 200ms;
}
.content-wraper > h2{
    color:white;
    font-size: 3rem;
}

.comment-count{
    color: white;
    margin-bottom:1rem;
}

.excerpt{
    color:white;
    margin-bottom:1rem;
}

.postinfo{
    color:white;
}

    .page1Container{
        -webkit-transition: all ease-in 0.5s;
        transition: all ease-in 0.5s;
    }
    
    .page1Container.ng-enter{
        transform: rotateX(-180deg)
    }
    
    .page1Container.ng-enter-active{
        transform: rotateX(0deg)
    }

@media only screen and (max-width: 500px) {
    .content-wraper {
            transition: all 200ms;
            margin-top:200px;
            margin-left: 1rem;
            cursor: pointer;
    }
}

@media only screen and (max-width: 700px) {
    .content-wraper {
            transition: all 200ms;
            margin-top:200px;
            margin-left: 1rem;
            cursor: pointer;
    }
}